In [1]:
import numpy as np 
import pandas as pd
from itertools import product

In [2]:
data = pd.read_csv('19BCE2072_Example2.csv')
data

  X1 X2 Target
0  A  C    Yes
1  A  D    Yes

In [3]:
instances = np.array(data.iloc[:,0:-1])
print("\nInstances are:\n",instances)

Instances are:
 [['A' 'C']
 ['A' 'D']]

In [4]:
target = np.array(data.iloc[:,-1])
print("\nTarget Values are: ",target)

Target Values are:  ['Yes' 'Yes']

In [5]:
F1 = ['A','B']
F2 = ['C','D']

In [6]:
specific_h = list(np.repeat('φ', len(F1)))
print(specific_h)

['φ', 'φ']

In [7]:
F1.append('?')
F2.append('?')
print(F1)
print(F2)

['A', 'B', '?']
['C', 'D', '?']

In [8]:
hypotheses = [list(h) for h in product(F1, F2)]
hypotheses.append(specific_h)

In [9]:
def compare(x, y):
    for i in range(2):
        if x[i] == y[i] or y[i] == '?' or x[i] == '?':
            continue
        else:
            return 'No'
    return 'Yes'

In [10]:
def train(c,t):
    global version_space
    for i, h in enumerate(hypotheses):
        outcome = 1
        for j, val in enumerate(c):
            outcome = outcome and (t[j] == compare(hypotheses[i], val))  
        if outcome == 1:
            version_space.append(h)

In [11]:
print("\nSemantically Distinct Hypotheses: ", hypotheses)

Semantically Distinct Hypotheses:  [['A', 'C'], ['A', 'D'], ['A', '?'], ['B', 'C'], ['B', 'D'], ['B', '?'], ['?', 'C'], ['?', 'D'], ['?', '?'], ['φ', 'φ']]

In [12]:
version_space = []
train(instances, target)
print('\nFinal Version Space: ', version_space)

Final Version Space:  [['A', '?'], ['?', '?']]