In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("19BCE2072_Example1.csv")
data

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        Yes
1  Sunny    Warm     High  Strong  Warm     Same        Yes
2  Rainy    Cold     High  Strong  Warm   Change         No
3  Sunny    Warm     High  Strong  Cool   Change        Yes

In [3]:
x = np.array(data)[:,:-1]
x

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [4]:
y = np.array(data)[:,-1]
y

array(['Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [5]:
instance = 1
syntactic = 1
semantic = 1
for col in data.iloc[:,:-1]:
    print(data[col].unique())
    instance = instance * len(data[col].unique())
    syntactic = syntactic * (len(data[col].unique())+2)
    semantic = semantic * (len(data[col].unique())+1)
semantic  = semantic+1

['Sunny' 'Rainy']
['Warm' 'Cold']
['Normal' 'High']
['Strong']
['Warm' 'Cool']
['Same' 'Change']

In [6]:
print("Number of Instances: ", instance)
print("Syntactically Distinct Hypotheses: ", syntactic)
print("Semantically Distinct Hypotheses: ", semantic)

Number of Instances:  32
Syntactically Distinct Hypotheses:  3072
Semantically Distinct Hypotheses:  487

In [7]:
def train(c,t):
    for i, val in enumerate(t):
        if val == "Yes":
            specific_hypothesis = c[i].copy()
            print("\nHypothesis: ", specific_hypothesis)
            break
             
    for i, val in enumerate(c):
        if t[i] == "Yes":
            for sp in range(len(specific_hypothesis)):
                if val[sp] != specific_hypothesis[sp]:
                    specific_hypothesis[sp] = '?'
                    print("\nHypothesis: ", specific_hypothesis)
                else:
                    pass
    print("\n--------------------------------------------------------------------------\n")             
    return specific_hypothesis

In [8]:
print("Final Hypothesis is: ", train(x,y))

Hypothesis:  ['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']

Hypothesis:  ['Sunny' 'Warm' '?' 'Strong' 'Warm' 'Same']

Hypothesis:  ['Sunny' 'Warm' '?' 'Strong' 'Warm' 'Same']

Hypothesis:  ['Sunny' 'Warm' '?' 'Strong' '?' 'Same']

Hypothesis:  ['Sunny' 'Warm' '?' 'Strong' '?' '?']

--------------------------------------------------------------------------

Final Hypothesis is:  ['Sunny' 'Warm' '?' 'Strong' '?' '?']